VITE_FIREBASE_API_KEY=AIzaSyBKlfD-khGejfOOLuMeA3-JGamV34WsnRI
VITE_FIREBASE_AUTH_DOMAIN=bookclub-488d1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bookclub-488d1
VITE_FIREBASE_STORAGE_BUCKET=bookclub-488d1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=827216966489
VITE_FIREBASE_APP_ID=1:827216966489:web:bc8fbafd067b9233e6d248